extends layout.pug
block content
    .caja-inicio
        
        form#iniciarJuego
            .container-btn-input
                input#nombreJugador(type="text" name="nombre" required  placeholder="Ingrse tu nombre")
                button.boton-iniciar-juego(type='submit') Iniciar Juego
            span#errorNombre(class="error-message")