doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/style.css")
    link(rel='icon' href='data:,')
    title=titulo
  body
    .banner
      .puntos Puntos:
          span#puntaje
      .texto-banner PON A PRUEBA TU CONOCIMIENTO
      .perfil
        img(src="https://via.placeholder.com/150", alt="Foto de Perfil")
    .contenedor-juego
      block content


    script(src="/js/script.js")

      