doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/style.css")
    link(rel='icon' href='data:,')
    title=titulo
  body
    .banner
      .puntos Puntos:
          span#puntaje
      .texto-banner(id="btnPruebas")
          h2.name-jugador Martin
      .perfil
          span#tiempo
        
    div(class='sk-folding-cube-container')
        .sk-folding-cube
            div(class='sk-cube1 sk-cube')
            div(class='sk-cube2 sk-cube')
            div(class='sk-cube3 sk-cube')
            div(class='sk-cube4 sk-cube')
    .contenedor-juego(id="contenedor_juego")
        block content

   
    script(type='module' src="/js/script.js")      