extends layout.pug
block content
  
      .caja-pregunta
            .pregunta=pregunta
    
      .caja-respuestas
           //each button.opcion Maroon 5
                 
      <button class="boton-siguiente">Siguiente</button>