extends layout.pug
block content
     
      .caja-pregunta(id='preguntas_view')
            h4.pregunta(id='preguntaActual')
                  
                  
            
    
      .caja-respuestas(id='opciones')
            
            

         
                 
      button.boton-siguiente Siguiente