extends layout.pug
block content
     
      .caja-pregunta(id='preguntas_view')
            h4.pregunta(id='preguntaActual')
            img.img-pregunta(id='preguntaImg')
                  
                  
            
    
      .caja-respuestas(id='opciones')
            
            

         
                 
      button.boton-siguiente(id='next') Siguiente