extends layout.pug
block content

    .caja-inicio
            div(id='finJuego')
            .ranking
                h2 Ranking Actual
                table#ranking-table
                    thead
                        tr
                            th Ranki
                            th Nombre
                            th Puntos
                    tbody